<li>
    <a alt="Everything Not Saved Will Be Lost Part II" class="cover" href="/album/3O1Ip6xm0c3DdgAsP6OGFf">
        <div class="grid-item-image lazy-image" data-src="https://i.scdn.co/image/ab67616d00001e0279ad68d0a3f4e0deaa6057bc"></div>
        <div><span dir="auto">Everything Not Saved Will Be Lost Part II</span></div>
    </a>
</li>
